.container {
    text-align: center;
    margin-top: 50px;

  }
 .body {
  background-image: url('./assets/photo_2024-05-17_19-40-28.jpg') ;
}
  .time-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: rgb(73, 43, 184);
  }
  
  .flag {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border-radius: 20px;
  }
  