.container {
    background: rgb(75, 52, 158);
    text-align: center;
    margin-top: 50px;
  }
  
  .time-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: rgb(45, 96, 70);
  }
  
  .flag {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
  }
  